*{
    margin: 0;
    padding: 0;
    font-style: italic;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(67, 90, 107);
}
.container{
    height: 70vh;
    width: 25vw;
    background: linear-gradient(to left,rgb(123, 170, 120),rgb(89, 179, 179));
    border-radius: 5px;
}
.display{
    height: 20%;
    width: 91%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 70px;
    overflow: hidden;
    background:rgb(47, 46, 46);
    animation: ch 3s linear infinite;
    border-radius: 5px;
}
.buttons{
    height: 70%;
    width: 90%;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    padding: 2px;
    background: linear-gradient(45deg,rgb(197, 87, 169),rgb(228, 51, 3));
    border-radius: 8px;
}
button{
    height: 18%;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: larger;
    border-radius: 20px;
    background: linear-gradient(45deg,blue,cyan);
    border: 0;
}
.dot{
    font-size: 50px;

}
.op{
    background: linear-gradient(45deg,rgb(217, 91, 91),rgb(205, 205, 58));
}
.equal{
    background: linear-gradient(45deg,rgb(230, 25, 10),rgb(243, 7, 192));
}
@media only screen and (max-width : 667px){
    .container{
        width: 90%;
    }
    .display{
        margin-left: 13px;
    }
    .buttons{
        margin-left: 13px;
    }
}

